Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
log
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/madpdf
src/*.o
stamp-h1
